:root {
  --em-small: 0.75em;
  --em-medium: 0.9em;
  --em-large: 1.2em;
  --rem-small: 0.25rem;
  --rem-medium: 0.75rem;
  --rem-large: 1.25rem;
  --rem-layout-small: 30rem;
  --rem-layout-medium: 40rem;
  --rem-layout-large: 60rem;
  --rem-layout-division-small: 1.25rem;
  --rem-layout-division-medium: 2.5rem;
  --rem-layout-division-large: 5rem;

  --color-white: #fff;
  --color-beige: #ddcfad;
  --color-black: #000;
  --color-green: #0a482f;
  --color-grey: #403f30;
  --color-light-grey: #b7b7b7;

  --shadow: 2px 2px 4px var(--color-light-grey);
}

@media (max-width: 500px) {
  :root {
    --rem-layout-small: 90%;
    --rem-layout-medium: 100%;
    --rem-layout-large: 100%;
  }
}

@media (max-width: 800px) {
  :root {
    --rem-layout-small: 80%;
    --rem-layout-medium: 90%;
    --rem-layout-large: 100%;
  }
}

.card {
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--color-light-grey);
}

.footer {
  height: 3rem;
  bottom: 0.5rem;
  position: fixed;
}

.bg-white { background-color: var(--color-white); }
.bg-black { background-color: var(--color-black); }
.bg-beige { background-color: var(--color-beige); }
.bg-green { background-color: var(--color-green); }
.bg-grey { background-color: var(--color-grey); }
.bg-light-grey { background-color: var(--color-light-grey); }

.bx-shadow { box-shadow: var(--shadow); }

.click { cursor: pointer; }
.click:hover { text-shadow: var(--shadow); }

.dsp-flex { display: flex; }
.dsp-block { display: block; }
.dsp-inline { display: inline; }

.dv-h-small { height: var(--rem-layout-division-small); }
.dv-h-medium { height: var(--rem-layout-division-medium); }
.dv-h-large { height: var(--rem-layout-division-large); }
.dv-w-small { width: var(--rem-layout-division-small); }
.dv-w-medium { width: var(--rem-layout-division-medium); }
.dv-w-large { width: var(--rem-layout-division-large); }

.f-between { justify-content: space-between; }
.f-around { justify-content: space-around; }
.f-end { justify-content: flex-end; }

.flt-r { float: right; }
.flt-l { float: left; }
.flt-none { float: none; }

.fnt-small { font-size: var(--em-small); }
.fnt-medium { font-size: var(--em-medium); }
.fnt-large { font-size: var(--em-large); }
.fnt-bold { font-weight: bold; }

.mg-none { margin: 0; }
.mg-small { margin: var(--rem-small); }
.mg-medium { margin: var(--rem-medium); }
.mg-large { margin: var(--rem-large); }
.mg-r-none { margin-right: 0; }
.mg-r-small { margin-right: var(--rem-small); }
.mg-r-medium { margin-right: var(--rem-medium); }
.mg-r-large { margin-right: var(--rem-large); }
.mg-l-none { margin-left: 0; }
.mg-l-small { margin-left: var(--rem-small); }
.mg-l-medium { margin-left: var(--rem-medium); }
.mg-l-large { margin-left: var(--rem-large); }
.mg-t-none { margin-top: 0; }
.mg-t-small { margin-top: var(--rem-small); }
.mg-t-medium { margin-top: var(--rem-medium); }
.mg-t-large { margin-top: var(--rem-large); }
.mg-b-none { margin-bottom: 0; }
.mg-b-small { margin-bottom: var(--rem-small); }
.mg-b-medium { margin-bottom: var(--rem-medium); }
.mg-b-large { margin-bottom: var(--rem-large); }

.pd-none { padding: 0; }
.pd-small { padding: var(--rem-small); }
.pd-medium { padding: var(--rem-medium); }
.pd-large { padding: var(--rem-large); }
.pd-r-none { padding-right: 0; }
.pd-r-small { padding-right: var(--rem-small); }
.pd-r-medium { padding-right: var(--rem-medium); }
.pd-r-large { padding-right: var(--rem-large); }
.pd-l-none { padding-left: 0; }
.pd-l-small { padding-left: var(--rem-small); }
.pd-l-medium { padding-left: var(--rem-medium); }
.pd-l-large { padding-left: var(--rem-large); }
.pd-t-none { padding-top: 0; }
.pd-t-small { padding-top: var(--rem-small); }
.pd-t-medium { padding-top: var(--rem-medium); }
.pd-t-large { padding-top: var(--rem-large); }
.pd-b-none { padding-bottom: 0; }
.pd-b-small { padding-bottom: var(--rem-small); }
.pd-b-medium { padding-bottom: var(--rem-medium); }
.pd-b-large { padding-bottom: var(--rem-large); }

.pst-absolute { position: absolute; }
.pst-fixed { position: fixed; }
.pst-relative { position: relative; }
.pst-static { position: static; }

.txt-center { text-align: center; }
.txt-right { text-align: right; }
.txt-justify { text-align: justify;}
.txt-shadow { text-shadow: var(--shadow); }
.txt-white { color: var(--color-white); }
.txt-black { color: var(--color-black); }
.txt-beige { color: var(--color-beige); }
.txt-green { color: var(--color-green); }
.txt-grey { color: var(--color-grey); }
.txt-light-grey { color: var(--color-light-grey); }
.txt-d-none { text-decoration: none; }

.w-al-center { margin: auto; }
.w-small { width: var(--rem-layout-small); }
.w-medium { width: var(--rem-layout-medium); }
.w-large { width: var(--rem-layout-large); }
